{% extends 'base_admin.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}


<div class="card">
    <div class="card-header">Producto
    </div>
    
        <div class="card-body">
 
        {{ include('product/_form.html.twig', {'button_label': 'Guardar'}) }}

        </div>

        
</div>


    <a href="{{ path('product_index') }}">Catalogo</a>

    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>

    <script type="text/javascript">
        $("#product_attachment").on('change', function () {

            if (typeof (FileReader) != "undefined") {

                var image_holder = $("#image-holder");
                image_holder.empty();

                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                        "class": "img-fluid img-thumbnail",
                        "width": "170px"
                    }).appendTo(image_holder);

                };
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[0]);
            } else {
                alert("This browser does not support FileReader.");
            }
        });

    </script>

{% endblock %}
