{% extends 'base_admin.html.twig' %}

{% block title %}Catalogo de Productos{% endblock %}

{% block breadcrumb %}
   

{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"><i class="fas fa-table"></i>Catalogo</div>
        <div class="card-body">
           <table class="table table-bordered table-striped " id="zero_config" >
        <thead>
        <tr>
                <th style="width:10%">ID</th>
                <th style="width:10%">Nombre</th>
                <th style="width:10%">Codigo</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
               
                <td>{{ client.id }}</td>

                <td>{{ client.name }}</td>

                <td>{{ client.code }}</td>

              

                <td>
                    <div class="btn btn-primary btn-sm my-1">
                        <a class="text-white" href="">Detalles</a>

                    </div>
                    <div class="btn btn-primary btn-sm">
                        <a class="text-white" href="">Editar</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn btn-primary ">
    <a class="text-white" href="">Nuevo Cliente</a>
</div>

{% endblock %}

{% block pagejs %}
    <script src="../theme/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../theme/dist/js/pages/datatable/datatable-basic.init.js"></script>
{% endblock %}

